In [51]:
import array, calendar, csv, math, time
import pandas as pd

def LonLatToPixelXY(lonlat):
    (lon, lat) = lonlat
    x = (lon + 180.0) * 256.0 / 360.0
    y = 128.0 - math.log(math.tan((lat + 90.0) * math.pi / 360.0)) * 128.0 / math.pi
    return [x, y]

def FormatEpoch(datestr, formatstr):
    return calendar.timegm(time.strptime(datestr, formatstr))

def PackColor(color):    
    return color[0] + color[1] * 256.0 + color[2] * 256.0 * 256.0;

def hex2rgb(h):
    return tuple(int(h.strip("#")[i:i+2], 16) for i in (0, 2 ,4))

In [52]:
df = pd.read_excel(r'../data/FloodArchive.xlsx')
print(df)

        ID GlideNumber          Country OtherCountry        long        lat  \
0        1           0          Algeria            0    5.230260  35.814200
1        2           0           Brazil            0  -45.348900 -18.711100
2        3           0      Phillipines            0  122.974000  10.020700
3        4           0        Indonesia            0  124.606000   1.014890
4        5           0       Mozambique            0   32.349100 -25.869300
5        6           0  Comoros islands            0   43.360000 -11.651600
6        7           0      New Zealand            0  175.734000 -37.230500
7        8           0        Indonesia            0  108.140000  -7.040080
8        9           0              USA            0  -85.174200  40.669100
9       10           0          Bolivia            0  -63.288700 -21.224400
10      11           0              USA            0  -89.553700  40.681400
11      12           0              USA            0 -108.093000  35.382400
12      13           0              USA            0  -96.784500  29.604400
13      14           0              USA            0  -83.537700  42.012200
14      15           0           Brazil            0  -48.098700  -4.135190
15      16           0              USA            0  -96.842500  28.580200
16      17           0            China            0  127.897000  48.091700
17      18           0              USA            0  -87.880500  46.493800
18      19           0              USA            0 -105.275000  34.862800
19      20           0              USA            0  -66.706000  18.229100
20      21           0            China            0  109.570000  25.669400
21      22           0        Argentina            0  -58.973500 -35.439200
22      23           0       Bangladesh            0   91.854200  24.649700
23      24           0              USA            0  -99.449400  33.697700
24      25           0              USA            0  -96.101100  36.358100
25      26           0      Philippines            0  120.916000  14.741700
26      27           0            India            0   75.093700  14.539800
27      28           0            China            0  109.974000  27.788200
28      29           0       Bangladesh            0   89.985300  22.617600
29      30           0     West Germany            0    6.509520  50.713400
...    ...         ...              ...          ...         ...        ...
4735  4738         NaN         Colombia          NaN  -74.999600   5.210790
4736  4739         NaN            China          NaN  113.175000  22.843900
4737  4740         NaN           Brazil          NaN  -43.204200 -22.684700
4738  4741         NaN     South Africa          NaN   29.269500 -27.023100
4739  4742         NaN            Spain          NaN   -0.076316  39.858600
4740  4743         NaN        Argentina          NaN  -60.549400 -26.854100
4741  4744         NaN           Canada          NaN  -72.574800  46.366000
4742  4746         NaN            India   Bangladesh   87.466200  21.542700
4743  4747         NaN              USA          NaN  -90.983900  38.393600
4744  4748         NaN              USA          NaN  -96.279000  30.312600
4745  4745         NaN       Mozambique          NaN   37.979200 -15.374600
4746  4749         NaN            Italy          NaN   12.542900  43.794700
4747  4750         NaN     Saudi Arabia          NaN   45.253800  18.539500
4748  4751         NaN              USA          NaN  -95.239800  36.709100
4749  4752         NaN            India          NaN   91.573600  23.499100
4750  4753         NaN      Afghanistan          NaN   67.894100  34.667800
4751  4754         NaN       Tajikistan  Afghanistan   69.353900  37.419800
4752  4755         NaN            China          NaN  111.319000  24.555400
4753  4756         NaN          Romania          NaN   26.653100  45.623700
4754  4757         NaN            Libya          NaN   12.691300  24.554700
4755  4758         NaN           Mexico          NaN -103.182000  20.175800
4756  4759         NaN           Bosnia       Serbia   19.297800  44.089300
4757  4760         NaN         Colombia          NaN  -73.861400   0.698152
4758  4761         NaN      Siwtzerland          NaN    7.124040  46.549700
4759  4762         NaN          Hungary          NaN   20.163900  47.262400
4760  4763         NaN           Poland          NaN   22.440300  51.798300
4761  4764         NaN           Turkey          NaN   41.047400  40.706200
4762  4765         NaN      Philippines          NaN  123.493000   8.222840
4763  4766         NaN         Mongolia          NaN  111.071000  47.203700
4764  4767         NaN          Uruguay          NaN  -55.971900 -32.744600

            Area      Began      Ended             Validation  Dead  \
0       92615.67 1985-01-01 1985-01-05                   News    26
1      678498.82 1985-01-15 1985-02-02                   News   229
2       12846.03 1985-01-20 1985-01-21                   News    43
3       16542.12 1985-02-04 1985-02-18                   News    21
4       20082.21 1985-02-09 1985-02-11                   News    19
5        1035.61 1985-02-16 1985-02-28                   News     2
6        7871.37 1985-02-17 1985-02-18                   News     4
7       77091.11 1985-02-19 1985-02-23                   News    10
8      210527.96 1985-02-22 1985-03-01                   News     7
9       69706.89 1985-02-25 1985-02-28                   News     2
10      26266.14 1985-03-03 1985-03-08                   News     4
11      26527.13 1985-03-13 1985-03-14                   News     0
12     141508.00 1985-03-14 1985-03-15                   News     0
13      16883.54 1985-03-30 1985-03-31                   News     0
14    1970402.21 1985-04-02 1985-04-17                   News    32
15      17192.76 1985-04-11 1985-04-12                   News     1
16     300325.08 1985-04-21 1985-04-29                   News     0
17       5123.72 1985-04-24 1985-04-25                   News     0
18     116344.02 1985-05-11 1985-05-12                   News     2
19       1423.92 1985-05-19 1985-05-20                   News     2
20     458666.21 1985-05-26 1985-06-06                   News    64
21      78653.41 1985-05-30 1985-06-01                   News    25
22       8910.30 1985-06-03 1985-06-22                   News     7
23      83470.44 1985-06-05 1985-06-06                   News     6
24       9865.44 1985-06-10 1985-06-11                   News     0
25       7768.19 1985-06-22 1985-06-30                   News    98
26     254234.60 1985-06-23 1985-06-27                   News    95
27     290679.68 1985-06-28 1985-07-10                   News   275
28       6446.85 1985-07-03 1985-07-04                   News     2
29       1927.64 1985-07-06 1985-07-07                   News     3
...          ...        ...        ...                    ...   ...
4735   517907.89 2019-04-01 2019-04-20              FloodList    10
4736    73166.82 2019-04-11 2019-04-20              FloodList     7
4737     8933.68 2019-04-07 2019-04-10              FloodList    10
4738   331714.49 2019-04-22 2019-04-23              FloodList     5
4739    53290.58 2019-04-18 2019-04-23              FloodList     0
4740   490723.50 2019-04-20 2019-04-23              FloodList     2
4741    28713.07 2019-04-19 2019-04-23  International Charter     1
4742   123330.04 2019-05-03 2019-05-07              FloodList    43
4743   429706.84 2019-04-30 2019-06-10              FloodList     2
4744    79587.68 2019-05-06 2019-05-14              FloodList     4
4745   194823.17 2019-04-30 2019-05-07              FloodList    38
4746    22050.47 2019-05-12 2019-05-14              FloodList     0
4747   238156.72 2019-05-22 2019-05-27              FloodLIst     1
4748   250078.73 2019-05-20 2019-05-27              FloodLIst     0
4749     9467.55 2019-05-24 2019-05-27              FloodLIst     0
4750   133359.74 2019-05-22 2019-05-26              FloodList    24
4751   106545.57 2019-06-04 2019-06-10              FloodList     5
4752   470032.43 2019-06-07 2019-06-10              FloodList    13
4753    88755.01 2019-05-31 2019-06-10              FloodList     0
4754   151026.83 2019-06-03 2019-06-10              FloodList     2
4755    34619.97 2019-06-02 2019-06-06              FloodLIst     5
4756    27244.66 2019-06-01 2019-06-05             Flood List     0
4757   193568.08 2019-06-21 2019-06-23              FloodList     2
4758     5258.68 2019-06-21 2019-06-24              FloodList     0
4759    14047.33 2019-06-19 2019-06-24              FloodList     0
4760    20826.64 2019-06-19 2019-06-23              FloodList     0
4761    12361.41 2019-06-18 2019-06-20              FloodList     3
4762     5390.18 2019-06-03 2019-06-23              FloodList     0
4763    85984.41 2019-06-15 2019-06-19              FloodList     0
4764    38380.48 2019-06-11 2019-06-24              FloodList     0

      Displaced                MainCause  Severity
0          3000               Heavy rain       1.0
1         80000               Heavy rain       2.0
2           444          Torrential rain       1.0
3           300          Torrential rain       1.0
4             0               Heavy rain       2.0
5         35000         Tropical cyclone       1.0
6           200               Heavy rain       1.0
7          2000               Heavy rain       1.0
8          2250        Rain and snowmelt       2.0
9          1000               Heavy Rain       1.0
10         2400        Rain and snowmelt       2.0
11           80        Rain and snowmelt       1.0
12            0               Heavy rain       1.0
13          300               Heavy rain       1.0
14       700000               Heavy rain       2.0
15          200               Heavy rain       1.0
16          200         Ice jam/break-up       1.0
17          400        Rain and snowmelt       2.0
18            0               Heavy rain       1.0
19         4500               Heavy rain       1.0
20        10000               Heavy rain       2.0
21       100000               Heavy rain       2.0
22       100000               Heavy rain       2.0
23          100               Heavy rain       1.0
24          320               Heavy rain       2.0
25       130000         Tropical cyclone       1.0
26        25000               Heavy rain       1.0
27        60000               Heavy rain       2.0
28        77000               Heavy rain       1.0
29            0               Heavy rain       1.0
...         ...                      ...       ...
4735          0          Torrential Rain       1.0
4736          0               Heavy Rain       1.0
4737          0          Torrential Rain       1.0
4738        500          Torrential Rain       1.5
4739        100          Torrential Rain       1.5
4740       1800          Torrential Rain       1.5
4741       1500  Heavy Rain and Ice Melt       1.5
4742    1400000    Tropical Cyclone Fani       1.5
4743          0               Heavy Rain       1.5
4744          0          Torrential Rain       1.5
4745      20000   Tropical Storm Kenneth       1.5
4746         20               Heavy Rain       1.0
4747         36          Torrential Rain       1.0
4748       4000               Heavy Rain       2.0
4749        750               Heavy Rain       1.5
4750       1500          Torrential Rain       1.5
4751         40          Torrential Rain       1.5
4752      50000           Monsoonal Rain       1.5
4753        260               Heavy Rain       1.0
4754       3000               Heavy Rain       1.5
4755       2000          Torrential Rain       1.5
4756        159               Heavy Rain       1.0
4757          0          Torrential Rain       1.0
4758          0          Torrential Rain       1.0
4759          0               Heavy Rain       1.0
4760         20          Torrential Rain       1.0
4761          0          Torrential Rain       1.5
4762      45000               Heavy Rain       1.5
4763          0               Heavy Rain       1.0
4764       5400               Heavy Rain       1.5

[4765 rows x 14 columns]

In [80]:
# Area
points = []
for index, row in df.iterrows():
    x,y = LonLatToPixelXY([float(row['long']), float(row['lat'])])
    points.append(x)
    points.append(y)
    points.append(min(math.sqrt(row['Area']/100.0), 200))  
    #points.append(50.0)
    points.append(PackColor([1.0,0.85,0.05]))
    points.append(FormatEpoch(str(row["Began"]), '%Y-%m-%d %H:%M:%S' ))
    points.append(FormatEpoch(str(row["Ended"]), '%Y-%m-%d %H:%M:%S' ))
array.array('f', points).tofile(open('../data/floodarea.bin', 'wb'))

In [81]:
# Deaths
points = []
for index, row in df.iterrows():
    x,y = LonLatToPixelXY([float(row['long']), float(row['lat'])])
    points.append(x)
    points.append(y)
    points.append(min(math.sqrt(row['Area']/100.0), 200))  
    #points.append(50.0)
    points.append(PackColor([1.0,0.85,0.05]))
    points.append(FormatEpoch(str(row["Began"]), '%Y-%m-%d %H:%M:%S' ))
    points.append(FormatEpoch(str(row["Ended"]), '%Y-%m-%d %H:%M:%S' ))
array.array('f', points).tofile(open('../data/floodarea.bin', 'wb'))

In [63]:
# Area
points = []
for index, row in df.iterrows():
    x,y = LonLatToPixelXY([float(row['long']), float(row['lat'])])
    points.append(x)
    points.append(y)
    points.append(min(math.sqrt(row['Area']/100.0), 200))  
    #points.append(50.0)
    points.append(PackColor([1.0,0.85,0.05]))
    points.append(FormatEpoch(str(row["Began"]), '%Y-%m-%d %H:%M:%S' ))
    points.append(FormatEpoch(str(row["Ended"]), '%Y-%m-%d %H:%M:%S' ))
array.array('f', points).tofile(open('../data/floodarea.bin', 'wb'))

200

In [69]:
df['Area'].median()

33681.92

In [73]:
points[0:10]

[131.71929599999999,
 100.69066852401839,
 30.43282274124436,
 1.0,
 473385600,
 473731200,
 95.75189333333333,
 141.54868317728676,
 82.37103981375978,
 1.0]

In [74]:
PackColor([0,1,0])

256.0

In [75]:
PackColor([0,0,1])

65536.0